In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import sys
sys.path.append("../src/utility/")
from utility import plot_settings
from utility import visualization
from utility import data_base as data

In [8]:
df_raw = data.read_csv('../data/global-food.csv')
data.get_length(df)
#df = df.dropna()
#data.get_length(df)
df = df_raw.copy()

12280

In [9]:
df.head()

,Product,Country,Year,Population,Production (t),production__tonnes__per_capita,Production per capita (kg),Yield (t/ha),Yield (kg/animal),Land Use (ha),...,other_uses__tonnes__per_capita,Other uses per capita (kg),Supply chain waste (t),waste_in_supply_chain__tonnes__per_capita,Supply chain waste per capita (kg),Food supply (kg per capita per year),Food supply (g per capita per day),Food supply (kcal per capita per day),Food supply (Protein g per capita per day),Food supply (Fat g per capita per day)
0,NaN,Afghanistan,1961,8790140,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3054.9053,86.492840,38.209236
1,NaN,Afghanistan,1962,8969055,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2973.2468,84.580055,38.335213
2,NaN,Afghanistan,1963,9157463,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2751.7795,78.657250,39.338820
3,NaN,Afghanistan,1964,9355510,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3013.4424,85.198880,39.747234
4,NaN,Afghanistan,1965,9565154,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3017.7600,85.612100,40.560085

In [15]:
df = df_raw[['Country', 'Year', 'Population', 
            'Food supply (kcal per capita per day)', 
            'Food supply (Protein g per capita per day)', 
            'Food supply (Fat g per capita per day)']].copy()

In [16]:
df.head()

,Country,Year,Population,Food supply (kcal per capita per day),Food supply (Protein g per capita per day),Food supply (Fat g per capita per day)
0,Afghanistan,1961,8790140,3054.9053,86.492840,38.209236
1,Afghanistan,1962,8969055,2973.2468,84.580055,38.335213
2,Afghanistan,1963,9157463,2751.7795,78.657250,39.338820
3,Afghanistan,1964,9355510,3013.4424,85.198880,39.747234
4,Afghanistan,1965,9565154,3017.7600,85.612100,40.560085